body{
    margin: 70px 30px;
    padding: 0;
}
.input-items{
    margin: 10px 5px;
}
.select{
    padding: 10px 5px;
}
.check-box , .check-box label{
    padding: 5px;
}
button{
    margin: 10px;
}
.errors{
    color: red;
    font-size: 10px;
}